*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.todoholder{
    width: 800px;
}
button{
    cursor: pointer;
}
.todo{
    display: flex;
    padding: 15px;
    border: 1px dashed indigo;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
