*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    cursor: pointer;
}
.todos-enter {
    opacity: 0;
}
.todos-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.todos-exit {
    opacity: 1;
}
.todos-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}